**/*.*
!lusee/*.py
!lusee/pre_jax/*.py
!lusee/data/gain/*.npy
!lusee/data/gain/*.csv
!tests/*.py
!notebooks/*.ipynb
!notebooks/old/*.ipynb
!notebooks/_regen/*.py
!**.md 
!**.yaml
!**.sh 
!**.batch
!.github/* 
!docker/*
!simulation/driver/*.py
!examples/*.py
!setup_env.sh
setup_env.local.sh
