**/*.*
!lusee/*.py
!lusee/pre_jax/*.py
!tests/*.py
!notebooks/*.ipynb
!notebooks/*.py
!notebooks/old/*.ipynb
!notebooks/_regen/*.py
!**.md 
!**.yaml
!**.sh 
!**.batch
!.github/* 
!docker/*
!simulation/driver/*.py
!setup_env.sh
setup_env.local.sh
