[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lusee"
authors = [{name = "Potekhin", email = "potekhin@bnl.gov"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]
dependencies = [
    "numpy",
    "scipy",
    "matplotlib",
    "astropy",
    "fitsio",
    "pyshtools",
    "healpy",
    "lunarsky",
    "pytest>=9.0.2",
]
