paths:
  lusee_drive_dir: ${oc.env:LUSEE_DRIVE_DIR}
  sky_dir: Simulations/SkyModels
  beam_dir: Simulations/BeamModels/LanderRegolithComparison/eight_layer_regolith/
  output_dir: ${oc.env:LUSEE_OUTPUT_DIR}
    
sky:
  file: ULSA_32_ddi_smooth.fits

beam_config:
  type: fits
  default_file: hfss_lbl_3m_75deg.fits
  common_beam_angle: 0
  couplings:
    opposite:
      combinations: [[N,S], [E,W]]
      # following is to save CI DL: we should have a 2 port here,
      # but use this to have CI run through this part of the code
      two_port: hfss_lbl_3m_75deg.fits 
      sign: -1
  
beams: 
  N:
    angle: 0
  E:
    angle: -90
  S:
    angle: -180
  W:
    angle: -270

observation:
  long: 180
  lat: -10
  beams: [ N, S, E, W ]
  lunar_day: "2025-02-01 13:00:00 to 2025-02-28 13:00:00"
  dt: 3600
  Tground: 0
  lmax: 32
  combinations: all
  freq:
    start: 1
    end: 6
    step: 4

simulation:
  engine: default
  output: sim_example.fits
  cache_transform: lunar_day.pickle  

engine: luseepy
