name: luseepy-test
on:
  # TBD -- needs to be triggered on all branches, keep one for dev purposes for now
  push:
    branches: [ maxim-ci ]
  pull_request:
    branches: [ maxim-ci ]

  # Enable manual activation, too
  workflow_dispatch:
jobs:
  luseepy-test:
    runs-on: ubuntu-latest
    env:
       PYTHONPATH: .:..
       LUSEE_DRIVE_DIR: Drive
       LUSEE_OUTPUT_DIR: ./output
    container: lusee/lusee-night-unity-luseepy:1.2
    steps:
      - uses: actions/checkout@v4
      - run: pwd
      - run: wget "https://drive.google.com/uc?export=download&id=1cdKZpq81DmLBy_gbGy-DpNYXbvnQAJG9" -O drive.tgz
      - run: tar zxvf drive.tgz
      - run: ls -l
      - run: python tests/LunarCalendarTest.py  -v
      - run: python tests/CoordTest.py
      - run: python tests/SimTest.py
      - run: cd simulation; ln -s ../Drive .; mkdir output; python driver/run_sim.py config/example.yaml; ls -l output
      - run: python tests/SimReadTest.py simulation/output/sim_example.fits
